<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>008Servlet-On-ServletConfig</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>OnServletConfig</display-name>
		<servlet-name>OnServletConfig</servlet-name>
		<servlet-class>com.vidvaan.samples.OnServletConfig</servlet-class>
		<init-param>
			<param-name>user</param-name>
			<param-value>scott</param-value>
		</init-param>
		<init-param>
			<param-name>pwd</param-name>
			<param-value>tiger</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>OnServletConfig</servlet-name>
		<url-pattern>/OnServletConfig</url-pattern>
	</servlet-mapping>
</web-app>